.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #ffffff;
    z-index: 50;
    font-weight: bold;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .3);
  }
  
  .navbar a {
    color: #0e2431;
    /* color: rgb(2, 86, 113); */
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #0f46a2;
    text-decoration: underline;
  }
  
  @media (max-width: 767px) {
    .navbar {
      display: none;
    }
  }